<link rel="stylesheet" type="text/css" href="/partials/changePassword/adminNav.css">

<div ng-app="changePasswordApp">
  <md-content ng-controller= "changePasswordController as ctrl" ng-cloak>
    <md-toolbar class="navbarclass" md-scroll-shrink ng-if="true" layout="row" layout-align="space-between center">
      <div class="md-toolbar-tools md-toolbar-top">
        <md-button aria-label="goHome" ng-click="goHome()">
          <md-icon md-svg-icon="img/icons/homeWhite.svg" md-menu-align-target></md-icon>
        </md-button>
        <span flex></span>
        <div>
          <center>
            <h1 >WELCOME TO THE LOST AND FOUND</h1>
          </center> 
        </div>
        <span flex></span>
      </div>
    </md-toolbar>
  </md-content>
</div>