<form name="pwForm" ng-app="changePasswordApp" ng-controller="changePasswordController" ng-cloak>
	<md-input-container class="md-block">
	<label>Old Password</label>
	<input md-maxlength="30" required md-no-asterisk name="Old Password" ng-model="oldPass">
	</md-input-container>

	<md-input-container class="md-block">
	<label>New Password</label>
	<input md-maxlength="30" required md-no-asterisk name="New Password" ng-model="newPass1">
	</md-input-container>

	<md-input-container class="md-block">
	<label>Repeat New Password</label>
	<input md-maxlength="30" required md-no-asterisk name="New Password" ng-model="newPass2">
	</md-input-container>

	<md-button md-no-ink class="md-primary" disabled="pwForm.$invalid" onclick="test()">Submit</md-button>
	____
</form>

<form name="myForm">
<input name="myText" type="text" name="test" ng-model="mytext" required />
<button ng-disabled="myForm.$invalid">Save</button>
</form>