<form name="pwForm" ng-app="changePasswordApp" ng-controller="changePasswordController" ng-cloak>
	<md-input-container>
	<label>Old Password</label>
	<input type="password" md-maxlength="30" required md-no-asterisk name="Old Password" ng-model="oldPass">
	</md-input-container>

	<md-input-container>
	<label>New Password</label>
	<input type="password" md-maxlength="30" required md-no-asterisk minlength="6" maxlength="26" name="New Password" ng-model="newPass1">
	</md-input-container>

	<md-input-container>
	<label>Repeat New Password</label>
	<input type="password" md-maxlength="30" minlength="6" maxlength="26" required md-no-asterisk name="New Password" ng-model="newPass2">
	</md-input-container>

	<md-button md-no-ink class="md-primary" ng-disabled="pwForm.$invalid" ng-click="ChangePW(oldPass,newPass1,newPass2)">Submit</md-button>

</form>

<!-- <form name="myForm">
<input name="myText" type="text" name="test" ng-model="mytext" required />
<button ng-disabled="myForm.$invalid">Save</button>
</form> -->