div.navBarSearch {
	color: white;
	width: 100%;
	padding: 0px;
	padding-right: 1%;
	padding-left: 1%;
}

md-input-container.navBarSearchContainer {
	padding: 0px;
	height: 50px;
}

input.navBarSearchTextInput {
	margin-top: 15px;
	margin-left: 15px; 
	/*height: 40px;*/
	background-color: white;
	border-radius: 3px;
	font-size: 16px;
}

md-subheader.mobileSubHead {
	background-color: transparent;
}

md-backdrop, md-sidenav {
	position: fixed;
}

* { box-sizing:border-box; }


hgroup { 
	text-align:center;
	margin-top: 4em;
}


form.login {
	margin: 10% 15px 0px 15px;
	padding: 15px 20px;
	background: white;
	border: 11px solid #093A7D;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.logingroup { 
	position: relative; 
	margin-bottom: 45px; 
}

input.login {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

input.login:focus { outline: none; }

/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

.md-button .md-focused {
	background-color: green;
}

.md-button {
  /*padding: 0 6px 0 6px;*/
  /*margin: 6px 8px 6px 8px;*/
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  color:white;
  text-transform: uppercase;
  text-decoration:none;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  outline: none;
}

#btn1 {
 	background-color: #093A7D;
 	color: white;
}
#btn2 {
	background-color: gray;
}