<meta name="viewport" content="width=device-width">

<!-- ++++ THIS IS THE NAVBAR ++++++ -->

<div ng-app="navBarApp" ng-controller= "NavBarCtrl" ng-if="!showAddItem"></div>
	<md-toolbar class="" layout="row" style="position: fixed; margin-top: 0; top: 0;">
		<md-button class="md-icon-button" ng-show="!showSearch" ng-if="!showAddItem">
			<md-icon class=" mobileHome" md-svg-icon="img/icons/homeWhite.svg"></md-icon>
		</md-button>
		<h2 class="md-toolbar-tools" ng-show="!showSearch">
			<span ng-if="!showAddItem">Hello, {{userSettings.first_name}}!</span>
			<span ng-if="showAddItem">Add an item.</span>
		</h2>
		<md-input-container class="navBarSearchContainer" ng-show="showSearch" flex>
			<input class="navBarSearchTextInput" ng-model="search" ng-change="onSearch(search)" placeholder="search..." md-autofocus autofocus>
		</md-input-container>
		<md-button class="md-icon-button" ng-click="showSearch = !showSearch">
			<md-icon md-svg-icon="img/icons/searchWhite24.svg"></md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="toggleRight(); lockSideNav=true" ng-hide="isOpenRight()" ng-show="!showSearch" ng-if="!showAddItem" >
			<md-icon class=" mobileHome" md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
	</md-toolbar>
</div>

<!-- ++++++ THIS IS THE ADDITEM FAB +++++++++ -->

<div ng-app="navBarApp" ng-controller= "NavBarCtrl" ng-if="!showAddItem">
	<md-button aria-label="addItem" class="md-fab md-fab-bottom-right md-warn" style="position: fixed;" ng-model="showAddItem" ng-click="switchShowAdditem()">
	  <md-icon md-svg-src="img/icons/add.svg"></md-icon>
	</md-button>
</div>

<!-- ++++++ THIS IS THE ITEMLIST +++++++++ -->

<div class="itemList" ng-if="!showAddItem">
	<div ng-app="itemApp" ng-controller= "ItemCtrl">
		<md-list style="padding-top: 70px;">
			<md-subheader class="mobileSubHead" style="background-color: transparent;">All Items:</md-subheader>
			<md-list-item class="md-2-line" ng-repeat="item in itemlist | filter:search" style="margin-top: 10px;">
				<div ng-style="{'background': item.itemColor}" style="height: 90px; width: 90px;">
					<img onerror='this.style.opacity = 0' ng-src="{{item.currentImage}}" height="90" width="90" />
				</div>
				<div class="md-list-item-text">
	          		<h1 style="padding-left: 10px; margin-bottom: 0;">{{item.title}}</h1>
	          		<p style="padding-left: 10px; margin-top: 0; padding-top: 0;">{{item.email}}</h1>
	          	</div>
	      	</md-list-item>
		</md-list>    

	</div>
</div>

<!-- ++++ THIS IS THE ADD ITEM PAGE +++ -->

<form ng-app="navBarApp" ng-controller= "addItemMobileCtrl" class="settings-form" ng-if="showAddItem">
		<span flex></span>
        <div layout-gt-xs="row">
        	<md-dialog-actions ng-if="showAddItem" layout="row" style="padding-top: 70px;">
				<md-button aria-label="AddItem" ng-click="uploadImage(picFile); testCancel()" id="add">Add</md-button>
				<md-button aria-label="Remove" ng-click="testCancel()" id="cancel">Cancel</md-button>
			</md-dialog-actions>
			<h4 style="color:red;">{{errorMessage}}</h4>
          <md-input-container class="md-block" flex-gt-xs>
            <label>title</label>
            <input ng-model="item.title" title="descriptive tags..." >
          </md-input-container>

              <md-chips ng-model="selectedTags">
                <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in querySearch(searchText)"
                        md-item-text="item"
                        placeholder="  descriptive tags...">
                    <span md-highlight-text="searchText">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <strong>{{$chip}}</strong>
                </md-chip-template>
              </md-chips>
      </div>
        <md-tabs id="tabs" md-align-tabs="top" md-border-bottom style="min-height: 410px; overflow: auto;">
          <md-tab id="colorPickerTab">
            <md-tab-label>Choose Color</md-tab-label>
            <md-tab-body>
              <div ng-cloak="">
                <md-content layout-padding="" style="background-color: #eee">
                  <md-grid-list md-cols="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="1px" md-gutter-md="1px" md-gutter="1px">
                    <md-grid-tile ng-repeat="tile in colorTiles" ng-style="{'background': tile.color}" ng-model="item.itemColor" ng-click="colorClicked(tile)">
                    </md-grid-tile>
                  </md-grid-list>
                </md-content>
              </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="imageUploadTab">
            <md-tab-label>Upload Image</md-tab-label>
            <md-tab-body>
              
              <img ngf-src="picFile" class="md-card-image" alt="Washed Out" width="100%">
              <label>{{picFile.name}}</label>

              <center><md-button id="picture" class="md-primary" label="Upload Images" name="file" ngf-select="" ng-model="picFile" accept="image/*">Select Image</md-button></center>
            </md-tab-body>
          </md-tab>
        </md-tabs>        
</form>

<!-- ++++++ THIS IS THE SIDENAV +++++++++ -->

<div ng-app="LostApp" ng-controller="SideNavCtrl">
	<div layout="vertical">
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="position:fixed;" md-is-locked-open="lockSideNav" md-component-id="right" flex>
            <md-toolbar class="md-theme-light">
              <div>
                <div layout-gt-xs="row" style="width: 100%;display: table;">
					<div style="display: table-cell;">
						<h1 class="md-toolbar-tools" ng-cloak>Hello, {{userSettings.first_name}}!</h1>
					</div>
					<md-icon-button ng-hide="globalSettings" 
                			ng-click="goToAppSettings()" 
                			class="md-secondary">
                		<md-icon class="settingsIcon" md-svg-icon="img/icons/settingsWhite48.svg"></md-icon>
						<md-tooltip md-direction="left" style="color: white; padding-top: 5px;">
							Settings
						</md-tooltip>
                	</md-icon-button>
                </div>
              </div>
              
            </md-toolbar>
            <md-content id="settings" ng-controller="SideNavCtrl" layout-padding>
				<form id="settings-form">
					<md-switch class="blue" aria-label="SwitchAll" ng-model="switchData.seeAll" ng-change="onSwitchChange(switchData.seeAll)">
						<span ng-model="switchData.seeAll" ng-if="switchData.seeAll" style="margin-top: 5px;">Show All Items <span style="padding: 0;margin: 0; color: red; font-size: 0.6em; text-align: right; width: 100%;">*no editing allowed</span></span>
						<span ng-model="switchData.seeAll" ng-if="!switchData.seeAll">Show Your Items</span>
					</md-switch>
					<md-toolbar class="md-theme-light" style="height:10px;width:100%;">
						<h2 class="md-toolbar-tools">
							<span>Sort By</span>
						</h2>
					</md-toolbar>
					<md-radio-group ng-model="sections.active">
						<md-radio-button ng-repeat="it in sections.pages" value="{{it.name}}" ng-click="sort(it.name)">{{it.name}}</md-radio-button>
					</md-radio-group>
					<md-slider-container>
						<md-toolbar class="md-theme-light" style="height:10px;width:100%;">
							<h2 class="md-toolbar-tools">
								<span>Size</span>
							</h2>
						</md-toolbar>
						<md-slider flex min="1" max="10" aria-label="red" ng-model="userSettings.gridSize" ng-change="onSlide(userSettings.gridSize)"></md-slider>

					</md-slider-container>
				</form>
				<center><md-button ng-hide="settingsSaved" ng-click="saveSettings()" class="md-primary">
                Save Settings</md-button></center>
                <md-button class="md-primary" id= "butt3" aria-label="More" ng-click="logout()" style="margin: 5px;width:90%; position: fixed; bottom:0;">Logout</md-button>
                <span flex></span>
            </md-content>
        </md-sidenav>
    </div>
</div>