html{
	background-color: #eee;
}

body {
	background-color: #eee;
	color:#444;
}

.container{
	position: relative;
	top: 64px;
}

.wrapper {
	/*margin: 0 auto;*/
	/*position: relative;*/
}

.fixed-wrapper {
	/*position: absolute;*/
}

.md-opaque{
	top: -64px;
	min-height: 150%;
}

.fixed{
	position: fixed;
	z-index: 2;
	top: 0;
	width:100%;
}
/*div.main{
	position:relative;
}*/
footer {
  position: static;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}