<div ng-app="navBarApp">
  <md-content class="fixed" ng-controller= "NavBarCtrl as ctrl" ng-cloak>
    <md-toolbar class="navBarClass" md-scroll-shrink ng-if="true" layout="row" layout-align="space-between center">
      <div class="md-toolbar-tools md-toolbar-top">
        
        <md-button class="md-icon-button" aria-label="More" ui-sref="itemlist">
           <md-icon class="testbuttonstyle" md-svg-icon="img/icons/homeWhite.svg"></md-icon>
        </md-button>

        <div class="navBarSearch">


          <md-input-container class="navBarSearchContainer" md-no-float flex>
            <input class="navBarSearchTextInput" ng-model="search" ng-change="onSearch(search)" placeholder=" search...">
          </md-input-container>

        </div>
        
        <span flex></span>
        
        <div class="md-menu-demo" ng-cloak="">
          <md-menu>
            <md-button class="md-icon-button testclass" aria-label="menu icon" ng-click="doTest();toggleRight()" ng-hide="isOpenRight()">

                <md-icon md-menu-origin md-svg-icon="img/icons/sortWhite.svg"></md-icon>
            </md-button>

            <md-menu-content class="testContent" width="2">
              <md-menu-item>
                <md-button ng-click="" aria-label="item1">
                  <md-icon md-svg-icon="img/icons/exitWhite.svg" md-menu-align-target></md-icon> Item1
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        
      
      </div>
    </md-toolbar>
  </md-content>
</div>