<!DOCTYPE html>
<html ng-app="navBarApp">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <md-content class="stuff" ng-controller= "NavBarSearchCtrl as ctrl" ng-cloak>
    <md-toolbar md-scroll-shrink ng-if="true" layout="row" layout-align="space-between center">
      <div tag="navBarStyle" class="md-toolbar-tools md-toolbar-top">
        
        <md-button class="md-icon-button" aria-label="More" ui-sref="itemlist">
           <md-icon class="testbuttonstyle" md-svg-icon="img/icons/homeWhite.svg"></md-icon>
        </md-button>

        <div class="navBarSearch">
          <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.name"
            md-min-length="2"
            placeholder="Search">

            <md-item-template>
              <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            
          </md-autocomplete>
        </div>
        
        <span flex></span>
        
        <!-- SORTWHITE Will replace the itemList dropdown -->
        <md-button class="md-icon-button" aria-label="More" ng-click="">
          <md-icon md-svg-icon="img/icons/sortWhite.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="More" ng-click="logout()">
          <md-icon md-svg-icon="img/icons/exitWhite.svg"></md-icon>
        </md-button>
      
      </div>
    </md-toolbar>
  </md-content>
</div>
</html>