<!DOCTYPE html>
<html ng-app="LoginApp">
  <head>
    <meta charset="UTF-8">

    <title>Luther College Lost and Found</title>

    <link rel="stylesheet" href="/partials/login/login.css">
  </head>
  <body layout="column" ng-controller="loginController">
    <md-toolbar flex="66">
    <div id=titles>
      <h1 id=title1 >Luther College</h1>
      <h3 id=title2 >Lost and Found</h3>
    </div>
    </md-toolbar>
    <div layout-align="center start" layout="row">
      <md-content class="md-whiteframe-z2 move-up" flex="66">
      <md-card>
      <md-card-header>
        <md-card-avatar>
          <img src="/partials/login/Norsehead.jpg" class="md-user-avatar">
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">Welcome</span>
          <span class="md-subhead">Login Here</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-title>
    <md-card-title-text >
      <span class="md-headline">Card headline</span>
      <span class="md-subhead">Card subheader</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="start center">
     <form class="form">
      <input type="text" placeholder="Username" ng-model="login.username">
      <input type="password" placeholder="Password" ng-model="login.password">
      <button type="submit" id="login-button" ng-click="loginSubmit(login)" >Login</button>
      <button type="submit" id="login-button" ng-click="guestLoginSubmit()" >Search As Guest</button>
    </form>

    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="icon">
        <md-icon md-svg-icon="icon"></md-icon>
      </md-button>
    </md-card-icon-actions>
  </md-card-actions>
  <md-card-content>
    <p>
     Card content
    </p>
  </md-card-content>
</md-card>
      </md-content>
    </div>

  </body>
</html>
