<!DOCTYPE html>
<html ng-app="LoginApp">
  <head>
    <meta charset="UTF-8">
    <title>Luther College:Lost and Found</title>
        
        <link rel="stylesheet" href="/partials/login/login.css">
  </head>

  <body>
    <div class="webpage" ng-controller="loginController">
      <nav>
        <img id="logo" src="/partials/login/Norsehead.jpg" />
      </nav> 
      <div class="wrapper">

      	 <div class="container">
        		
            <h1>Welcome to Lost and Found!</h1>
            <h2> Please sign in: </h2>
            
            <form class="form">
              <input type="text" placeholder="Username" ng-model="login.username">
              <input type="password" placeholder="Password" ng-model="login.password">
              <button type="submit" id="login-button" ng-click="loginSubmit(login)" >Login</button>
              <hr>
              <button type="submit" id="login-button" ng-click="guestLoginSubmit()" >Search As Guest</button>
            </form>

      	 </div>

      </div>  

    </div>
  </body>

</html>
