
<div class="modal-header">
      <h3 class="modal-title">Add Item</h3>
    </div>
    <div class="modal-body">
    <label> {{picFile.name}}</label>
      <img ngf-src="picFile" class="md-card-image" alt="Washed Out" width="400">
      <div>
        <md-content class="md-padding" layout="column">
              <md-chips 
                  ng-model="selectedTags" md-autocomplete-snap
                  md-transform-chip="transformChip($chip)"
                  md-require-match="autocompleteDemoRequireMatch">

                <md-autocomplete
                    class="chipsdemoCustomInputs" 
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item"
                    placeholder="Start Typing...">
                  <span md-highlight-text="searchText">{{item}}</span>

                </md-autocomplete>

                <md-chip-template>
                  <span>
                    <strong>{{$chip.lowername}}</strong>
                  </span>
                </md-chip-template>
              </md-chips>
            </md-content>
      </div>      
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Title</label>
          <input ng-model="item.title">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Color</label>
          <input ng-model="item.itemColor">
        </md-input-container>
      </div>
  <div class="modal-body">
    <div>

      <form name="myForm">
        <fieldset>
          <div layout-gt-xs="row">
            <md-button id="picture" label="Upload Images" name="file" ngf-select="" ng-model="picFile" accept="image/*">Select Image</md-button>
            <md-button aria-label="AddItem" ng-click="uploadImage(picFile)" md-autofocus>Add</md-button>
            <md-button aria-label="Remove" ng-click="cancel()" md-autofocus>Cancel</md-button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>