<form>
  <md-toolbar ng-style="{background: chosenColor}">
    <div class="md-toolbar-tools">
      <h2>Add Item &nbsp;<h1 style="color:red;">{{errorMessage}}</h1> </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="">
        <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <table>
    <tr>
      <td class="addItemColorImage" width="350" style="min-width: 200px; vertical-align: top;">
        <md-tabs md-align-tabs="top" md-border-bottom style="height:100%; overflow: auto;">
          <md-tab id="colorPickerTab">
            <md-tab-label>Choose Color</md-tab-label>
            <md-tab-body>
              <div ng-cloak="">
                <md-content layout-padding="">
                  <md-grid-list md-cols="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="1px" md-gutter-md="1px" md-gutter="1px">
                    <md-grid-tile ng-repeat="tile in colorTiles" ng-style="{'background': tile.color}" ng-model="item.itemColor" ng-click="colorClicked(tile)">
                    </md-grid-tile>
                  </md-grid-list>
                </md-content>
              </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="imageUploadTab">
            <md-tab-label>Upload Image</md-tab-label>
            <md-tab-body>
              <label>{{picFile.name}}</label>
              <img ngf-src="picFile" class="md-card-image" alt="Washed Out" width="400">
              <md-button id="picture" label="Upload Images" name="file" ngf-select="" ng-model="picFile" accept="image/*">Select Image</md-button>
            </md-tab-body>
          </md-tab>
        </md-tabs>        
      </td>
      <td class="addItemForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Title</label>
            <input ng-model="item.title">
          </md-input-container>
<!--           <md-input-container class="md-block" flex-gt-xs>
            <label>Color</label>
            <input ng-model="item.itemColor">
          </md-input-container> -->
        </div>

        <div>
          <md-content class="md-padding" layout="column">
            <md-chips 
                ng-model="selectedTags" md-autocomplete-snap
                md-transform-chip="transformChip($chip)"

              <md-autocomplete
                  class="chipsdemoCustomInputs" 
                  md-selected-item="selectedItem"
                  md-search-text="searchText"
                  md-items="item in querySearch(searchText)"
                  md-item-text="item"
                  placeholder="Start Typing...">
                <span md-highlight-text="searchText">{{item}}</span>

              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip.lowername}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </md-content>
        </div>
        <md-dialog-actions layout="row">
          <md-button aria-label="AddItem" ng-click="uploadImage(picFile)">Add</md-button>
          <md-button aria-label="Remove" ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
      </td>
    </tr>
  </table>
</form>