<form class="settings-form">
  <md-toolbar ng-style="{background: chosenColor}">
    <div class="md-toolbar-tools">
      <h2>Add Item &nbsp; </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <table>
    <tr>
      <td class="addItemColorImage" width="350" style="min-width: 200px; vertical-align: top;">
<!-- 
        <label>{{picFile.name}}</label>
        <img ngf-src="picFile" class="md-card-image" alt="Washed Out" width="400">
        <div ng-cloak="">
          <md-content layout-padding="">
            <md-grid-list md-cols="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="1px">
              <md-grid-tile ng-repeat="tile in colorTiles" ng-style="{'background': tile.color}" ng-model="item.itemColor" ng-click="colorClicked(tile)">
              </md-grid-tile>
            </md-grid-list>
          </md-content>
        </div>
        <md-tabs md-align-tabs="top" md-border-bottom style="height:100%; overflow: auto;"> -->

        <md-tabs id="tabs" md-align-tabs="top" md-border-bottom style="min-height: 410px; overflow: auto;">

          <md-tab id="colorPickerTab">
            <md-tab-label>Choose Color</md-tab-label>
            <md-tab-body>
              <div ng-cloak="">
                <md-content layout-padding="" style="background-color: #eee">
                  <md-grid-list md-cols="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="1px" md-gutter-md="1px" md-gutter="1px">
                    <md-grid-tile ng-repeat="tile in colorTiles" ng-style="{'background': tile.color}" ng-model="item.itemColor" ng-click="colorClicked(tile)">
                    </md-grid-tile>
                  </md-grid-list>
                </md-content>
              </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="imageUploadTab">
            <md-tab-label>Upload Image</md-tab-label>
            <md-tab-body>
              
              <img ngf-src="picFile" class="md-card-image" alt="Washed Out" width="100%">
              <label>{{picFile.name}}</label>

              <md-button id="picture" class="md-primary" label="Upload Images" name="file" ngf-select="" ng-model="picFile" accept="image/*">Select Image</md-button>
            </md-tab-body>
          </md-tab>
        </md-tabs>        
      </td>
      <td class="addItemForm">
        <div layout-gt-xs="row">
          <center><h4 style="color:red;">{{errorMessage}}</h4></center>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Title</label>
            <input ng-model="item.title">
          </md-input-container>
<!--           <md-input-container class="md-block" flex-gt-xs>
            <label>Color</label>
            <input ng-model="item.itemColor">
          </md-input-container> -->
        </div>

        <div>
        <md-content class="md-padding" layout="row">
              <md-chips ng-model="selectedTags">
                <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in querySearch(searchText)"
                        md-item-text="item"
                        placeholder="+ tags">
                    <span md-highlight-text="searchText">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <strong>{{$chip}}</strong>
                </md-chip-template>
              </md-chips>
            </md-content>
      </div>

       <!--  <div>
          <md-content class="md-padding" layout="column">
            <md-chips 
                ng-model="selectedTags" md-autocomplete-snap
                md-transform-chip="transformChip($chip)"

              <md-autocomplete
                  class="chipsdemoCustomInputs" 
                  md-selected-item="selectedItem"
                  md-search-text="searchText"
                  md-items="item in querySearch(searchText)"
                  md-item-text="item"
                  placeholder="Description">
                <span md-highlight-text="searchText">{{item}}</span>

              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip.lowername}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </md-content>
        </div> -->
        <md-dialog-actions layout="row">
          <md-button aria-label="AddItem" ng-click="uploadImage(picFile)" id="add">Add</md-button>
          <md-button aria-label="Remove" ng-click="cancel()" id="cancel">Cancel</md-button>
        </md-dialog-actions>
      </td>
    </tr>
  </table>
</form>