/*
<<<<<<< HEAD
.navbarColor {
  background-color: #003C72;
}
.left {
  float:left;
}
.right {
  float: right;
  padding: 8px;
}
.md-block {
  padding: 2px;
}
.addItemForm {
  padding-right: 20px;

}
.imgholder img{ 
  max-height: 70%;
  min-width: 100%;
 }
 .md-padding {
  padding-left:0px;
  padding-right:0px;
 }
=======
>>>>>>> f3d15b3ce1e2bafada5139ae2f22dbca41cc2e86*/
/*input {
  padding-left:40px;
  max-width: 75%;
  color: #4F97E9;
 }*/
 input:disabled {
  margin-left:40px;
  max-width:75%;

  } 
md-checkbox.md-checked.blue .md-icon {
 background-color: rgba(79, 151, 233, 1);
}
  .view1{
  margin-left:40px;
  max-width:75%;

  } 
 .view {
    margin-left:40px;
  }

 .sizing {
  padding-top : 0px;
 }
.md-input-has-value {
  padding-bottom: 5px;
  color: blue;
 }
.input {
  padding-left:5px;
  padding-right:5px;
}
input {
  width: 4px;
}
.navbarColor {
  background-color: #003C72;
}
.left {
  float:left;
  display: inline;

}
.rightFloat {
  float:right;
}

/*body {
  background-color: #eee;
  color:#444;
}*/

.settings-form{
  margin-top: 0;
}

#settings{
  overflow-y: visible;
  overflow-x: hidden;
}

#logout{
  color:#666;
}

#global, #add, #cancel{
  color:#666;
}

.fa {
  color:#666;
}

hr {
  border-color: transparent;
}


#userList {
  display:none;
}

#loader {
  position:absolute;
  z-index:1002;
  width:100%;
  text-align:center;
  top:40%;
}

.cap:first-letter {
    text-transform: uppercase;
}

.alt {
  background-color:#ccc;
}


body {


}

md-grid-list {
  padding-top: 20px;
  margin-left: 8%;
  margin-right: 8%;
}

.fa {
  color:#666;
}

hr {
  border-color: transparent;
}

.dropdown {
  padding-top:150px;
}
.tilesT {
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
    float: left;
    /*margin: 2px;
    padding: 2px;*/
}

.tile-footer-darker{
  background-color: #093A7D;
  opacity: 0.93;
}

footer h5{
  padding-top: 50px;
  margin-right: 105px;
  text-align: right;
  text-decoration: bold;
  color:blue;

}
.itemListOptions {
  padding-top: 150px;
}
.itemListOptions .text-capitalize {
  text-transform: capitalize; }

.itemListOptions .md-fab:hover, .itemListOptions .md-fab.md-focused {
  background-color: #000 !important; }

.itemListOptions p.note {
  font-size: 1.2rem; }

.itemListOptions .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.buttonholder {
  text-align: right;
  margin-bottom: 10px;
}

 

.butt1 {
  background-color: #4F97E9;
   color: white;
}
.butt2 {
  background-color: rgb(152, 0, 0);
   color: white;
}
#butt3 {
  background-color:#666;
  color: white;

}
