
    <md-dialog aria-label="Mango (Fruit)" ng-cloak flex="55">
      <md-dialog-content>
        <md-toolbar md-scroll-shrink="">
          <div class="md-toolbar-tools navbarColor" ng-style="{background: item.itemColor}">Item Description</div>
          </md-toolbar>
          <div class="md-dialog-content">
          <div class="left">
            <img style="width:304px;height:228px;" onerror='this.style.display = "none"; this.parentElement.classList.remove("left")'  class="images" ng-src="{{item.currentImage}}">
          </div>
          <div >

              <md-input-container class="md-block view" flex-gt-sm>
                <label class="view">Title</label>
                <input class=view1 disabled style="color:#093A7D" ng-model="item.title"> <br>
              </md-input-container>
              <md-input-container class="md-block view" flex-gt-sm>
                <label class=view> Location</label>
                <input class=view1 disabled style="color:#093A7D" ng-model="item.building_name">
              </md-input-container>
              <md-input-container class="md-block view" flex-gt-sm>
                <label class=view>Accepted By</label>
                <input class=view1 disabled style="color:#093A7D" ng-model="item.accepted_by">
              </md-input-container>
              <md-input-container class="md-block view" flex-gt-sm>
                <label class=view1>Claimed By</label>
                <input class=view1 disabled style="color:#093A7D" ng-model="item.claimed_by" placeholder="Unclaimed">
              </md-input-container>
             </div>

              <div layout="column" ng-cloak>
            <md-content class="md-padding" layout="column">
              <h2 class="md-title">Tags</h2>
              
              <form name="tagForm">
                <md-chips ng-model="itemTags" name="presentTags" readonly="true">
                  <md-chip-template>
                    <strong>{{$chip}}</strong>
                  </md-chip-template>
                </md-chips>
                
              </form>
            </md-content>
          </div>
        </div>
        <div class=buttonholder>
          <md-button class="butt1" aria-label="Edit" ng-hide="switchData.seeAll" ng-click="editItem($event,item)" md-autofocus>Edit
          </md-button>
          <md-button class="butt2" aria-label="Remove" ng-hide="switchData.seeAll" ng-click="removeItem(item)" md-autofocus>Remove
          </md-button>
          <md-button id="butt3" aria-label="Cancel" ng-click="cancel()" md-autofocus>Cancel
          </md-button>

        </div> 

      </md-dialog-content>
    </md-dialog>