<div ng-app="superAdminApp" class="container" ng-controller="superAdminController" ng-cloak>
	<h3 id="subheader"> Super Administrator</h3>
	<md-button>+ Add User</md-button>
	<md-list ng-cloak="" class="listdemoListControls">
		<md-list-item ng-repeat="user in AdminUsers">
			<p>{{ user }}</p>
			<md-switch ng-model="user.isSuper" aria-label="isSuperUser" />
			<md-icon class="md-hue-3" md-svg-icon="img/icons/changePasswordBlack.svg" ng-click="showAlert($event,user)"></md-icon>
			<md-icon md-svg-icon="img/icons/deleteUserBlack.svg" ng-click="showAlert($event,user)"></md-icon>
			<md-divider />
		</md-list-item>
	</md-list>
</div>