<div ng-app="superAdminApp" class="container" ng-controller="superAdminController" ng-cloak>
	<h3 id="subheader"> Super Administrator</h3>
	<md-list ng-cloak="" class="listdemoListControls">
		<md-list-item ng-repeat="user in AdminUsers">
			<p>{{ user.first_name }}&nbsp;{{user.last_name}}</p>
			<md-icon class="md-hue-3" md-svg-icon="img/icons/changePasswordBlack.svg" ng-click="test('pw',user)"></md-icon>
			<md-icon md-svg-icon="img/icons/superAccountBlack.svg" ng-click="test('superuser',user)"></md-icon>
			<md-icon md-svg-icon="img/icons/deleteUserBlack.svg" ng-click="test('delete',user)"></md-icon>
			<md-divider />
		</md-list-item>
	</md-list>
</div>