h3#subheader {
	padding-left: 2%;
}

md-icon.sadminform {
	padding-right: 5px;
	padding-left: 5px;
}

md-icon.sadminform:hover {
	background-color: lightgray;
	border-radius: 10px;
}

md-icon.sadminform:focus {
	outline: none;
    border: 0;
}