
<div ng-app="addItemApp" class="container" ng-controller="addItemCtrl">
	<h1> item List </h1>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Tags</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="item.title"</td>
				<td><input class="form-control" ng-model="item.tags"</td>
				<td><md-button aria-label="AddItem" ng-click="addItem()" md-autofocus>Add
									      	</md-button></td>
				
			</tr>
		</tbody>

	</table>
</div>