<div ng-app="guestApp" class="container" ng-controller="guestController" ng-cloak>
	<div class="col-sm-10 col-sm-offset-4" id="header">
  		<h2>Find Your Lost Item</h2>
  	</div>
    <div>
	 	<md-input-container>
          <label>Description</label>
          <textarea ng-enter="submitGuestSearch($event,searchGuest)" ng-model="searchGuest.description" md-maxlength="50" rows="8" md-select-on-focus></textarea>
        </md-input-container>
    </div>
    <div>        
      <div class="col-sm-offset-1 col-sm-11">
        <md-button aria-label="Submit" ng-click="submitGuestSearch($event,searchGuest)" md-autofocus>Submit</md-button>
      </div>
    </div>
    <script type="text/ng-template" id="guestSearchResult.html">
		<md-dialog aria-label="Mango (Fruit)" ng-cloak flex="50">
			<md-dialog-content>
			    <div class="md-dialog-content"> 
			        <table class="table">
			            <thead>
			              <tr>
			                <th>Building</th>
			                <th>Room</th>
			                <th>Contact</th>
			                <th>&nbsp;</th>
			              </tr>
			            </thead>
			            <tbody>
				          	<tr ng-repeat="location in locationlist"> 
								<td>{{location.building_name}}</td>
								<td>{{location.room_name}}</td>
								<td>{{location.email}}</td>
								<td>{{location.phonenumber}}</td>
							</tr>
			      		</tbody>
		    		</table> 
				</div>
				<div>
					<md-button aria-label="Cancel" ng-click="cancel()" md-autofocus>Cancel</md-button>
				</div>
			</md-dialog-content>
		</md-dialog>
	</script>
</div>