<!DOCTYPE html>
<html ng-app="navBarApp">
  <link rel="stylesheet" href="/partials/navBar/navBar.css">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" ng-controller="NavBarCtrl">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default navbar-btn" ng-click="login()">Sign In</button>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</html>