<!DOCTYPE html>
<html ng-app="guestApp">
  <head>
    <title>Lost and Found</title>
    <link rel="stylesheet" href="/partials/guest/guest.css">
  </head>

  <body layout="column">
    <div class="webpage" ng-controller="guestController">
    <script type="text/ng-template" id="guestSearchResult.html">
      <md-dialog aria-label="Mango (Fruit)" ng-cloak flex="50">
        <md-dialog-content>
            <div class="md-dialog-content">
                
                <table class="table">
                    <thead>
                      <tr>
                        <th>Building</th>
                        <th>Room</th>
                        <th>Contact</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="location in locationlist"> 
                  <td>{{location.building_name}}</td>
                  <td>{{location.room_name}}</td>
                  <td>{{location.email}}</td>
                  <td>{{location.phonenumber}}</td>
                </tr>
                  </tbody>
              </table>
                
          </div>
          <md-button aria-label="Remove" ng-click="cancel()" md-autofocus>Cancel</md-button>

        </md-dialog-content>
      </md-dialog>
      </script>
    <md-toolbar flex="66" id="header_bar">
    <div id=titles>
      <h1 id=title1 >Lost and Found</h1>
      <h3 id=title2 >Guest Search</h3>
    </div>
    </md-toolbar>
    <div layout-align="center start" layout="row">
      <md-card class="background move-up" flex="66">
      <md-card-header>
        <md-card-avatar>
          <img src="/partials/login/Luther_Norse.jpg" class="md-user-avatar" id="norse">
        </md-card-avatar>
        </md-card-header>
          <md-card-actions>
			<div class="forms">
				 	<md-input-container class="md-block" id='form'>
			          <label>Description</label>
			          <textarea ng-model="searchGuest.description" md-maxlength="150" rows="8" md-select-on-focus></textarea>
			        </md-input-container>
			    </div>
			    <div class="forms">        
			      <div class="buttonHolder">
			        <md-button aria-label="Submit" class="btn1" ng-click="submitGuestSearch($event,searchGuest)" md-autofocus>Submit</md-button>
			        
			      </div>
			    </div>
            </md-card-actions>
          </md-card>
      </div>
    </div>
  </body>
</html>

